body {
        background-image: url('../garaj.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
      }
      h1
      {
          color: white;
          text-align: center;
      }
      h2
      {
          text-align: center;
      color: turquoise;
      }

div.navigation {
    padding: 1rem 0;
  
}
div.navigation>div.row{
    display:flex;
    justify-content: space-evenly;

    
}


div.navigation div.col {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    max-width: 10rem;
    padding: 0.25rem 0;
}

div.navigation div.col img{
    height:15px;
    width: auto;
    margin: 0 0 0.2rem 0
}
